# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
firebase-debug.log
firestore-debug.log

# Dependencies
node_modules

# Build outputs
dist
dist-ssr

# Local / env files
*.local
.env
.env.local
.env.production

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Firebase
.firebase
.firebaserc
service-account-key.json

setup-admin.cjs
setup-cart.cjs
draft.txt